@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scale-80 {
    transform: scale(0.8);
  }
}
body {
  @apply font-poppins;
  @apply bg-bg;
  @apply dark:bg-dark-bg;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px; /* Adjusted width */
  height: 40px; /* Adjusted height */
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px; /* Adjusted width */
  height: 32px; /* Adjusted height */
  margin: 4px; /* Adjusted margin */
  border: 4px solid #fff; /* Adjusted border */
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.dark .lds-ring div {
  border-color: #fff transparent transparent transparent; /* Adjust the color for dark mode */
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  scrollbar-width: thin;
  scrollbar-color: darkgrey white;
}
